.heading {
    font-family: var(--font-borel);
    font-size: clamp(4em, 8vw, 12rem);
    text-align: center;
    white-space: nowrap;
}

.container {
    height: 80vh !important;
    font-size: smaller;
}

.mic_cont {
    height: fit-content;
    background-color: rgba(47, 47, 47, 0.316);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.147);

    &:hover {
        background-color: rgba(47, 47, 47, 0.467);
    }

    &:active {
        background-color: rgba(99, 99, 99, 0.667);
    }

}

.mic_icon {
    padding: 2rem 1rem;
    width: clamp(6rem, 6vw, 17rem);
    stroke: rgb(54, 60, 61) !important;

    &:hover {
        stroke: rgba(255, 255, 255, 0.467) !important;
    }

    &:active {
        stroke: rgba(255, 255, 255, 0.667);
    }

}