/* components/Navbar.module.css */
.navbar {
    padding-top: 3rem;
    overflow: hidden;
    position: relative;
    z-index: 11;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: transform 0.2s ease;
}

.navLink:hover {
    transform: scale(1.2);
}